{% extends 'base.html' %}
{% load static %}
{% block title %}Registro de Especies{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="card shadow p-4">
        <h3 class="text-center mb-4">Registro de Especie</h3>

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Revisa los errores:</strong>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre_cientifico" class="form-label">Nombre Científico</label>
                {{ form.nombre_cientifico }}
            </div>

            <div class="mb-3">
                <label for="nombre_comun" class="form-label">Nombre Común</label>
                {{ form.nombre_comun }}
            </div>

            <button type="submit" class="btn btn-success">Registrar especie</button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary btn-sm">← Volver</a>
        </div>
    </div>
</div>
{%endblock%}