# 🐍 Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# 🗃 Base de datos local
db.sqlite3
*.db

# 🧪 Archivos de pruebas
.coverage
htmlcov/
nosetests.xml
test-results/
*.tmp

# 📦 Entorno virtual
env/
venv/
.venv/
ENV/

# 🔐 Archivos de entorno
.env
.env.*

# 🧾 Archivos de configuración de usuario de editor
*.swp
*.swo
.vscode/
.idea/

# 📷 Archivos multimedia y QR generados
media/
qr_codes/

# 🧵 Archivos estáticos recolectados
staticfiles/
static_root/
static/

# 🚫 Archivos de compilación
*.egg-info/
build/
dist/

# 🧪 Archivos de test internos
forestal_app/tests/__pycache__/
